
p {
  font-size: 20px;
}
.navbar-custom {
  background: #000000;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}

footer .footer-above {
  padding-top: 50px;
  background-color: #000000;
}


footer .footer-below {
  padding: 25px 0;
  background-color: #000000;
}


header {
  text-align: center;
  background: #000000;
  color: white;
}


hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #000000;
  color: white;
}
hr.star-primary {
  border-color: #000000;
}
hr.star-primary:after {
  background-color: white;
  color: #000000;
}
